@{
    ViewBag.Title = "Students Page";
}

@model WebApplication1.Models.StudentsModel

<form action="" method="post">
    <div style="margin:10px;">
        <table class="table table-striped table-bordered table-condensed">
            <tr>
                <th>Id</th>
                <th>Naam</th>
                <th>Avg process</th>
            </tr>
            @Html.DisplayForModel(Model)
        </table>
    </div>
</form>